<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      EL UNIVERSAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card class="welcome-card" *ngFor="let card of dataHome" style="border: solid 1px #fff;" (click)="goTo(card)">
    <img [src]="card.thumbnail" alt="" />
    <ion-card-header>
      <ion-card-subtitle><p class="white">{{ card?.section }}</p></ion-card-subtitle>
      <ion-card-title> <p class="white">{{ card?.title }}</p></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{ card?.summary }}
    </ion-card-content>
  </ion-card>
</ion-content>