<ion-header>
  <ion-toolbar>
    <ion-title>
      UNIVERSAL HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let card of dataHome" (click)="goTo(card)">
    <img [src]="card.thumbnail" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{ card?.section }}</ion-card-subtitle>
      <ion-card-title>{{ card?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{ card?.summary }}
    </ion-card-content>
  </ion-card>
</ion-content>